logger2files/src/main/app/logger2files.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Logger" host="0.0.0.0" port="${http.port}"  doc:name="HTTP Listener Configuration" >
    </http:listener-config>
    <cxf:configuration name="CXF_Configuration" enableMuleSoapHeaders="true" initializeStaticBusInstance="true" doc:name="CXF Configuration"/>
    <ws:consumer-config name="Web_Service_Consumer" wsdlLocation="wsgreet.wsdl" service="IWSMockService" port="IWSMockPort" serviceAddress="http://localhost:${http.port}/wsgreet" doc:name="Web Service Consumer"/>
    <flow name="loggerFlow">
        <http:listener config-ref="HTTP_Logger" path="/logging" doc:name="HTTP"/>
        <set-payload value="#['Request received']" doc:name="Set Payload"/>
        <logger message="This Payload:  #[payload]   Is confidential" level="INFO" category="confidential" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://logger2files/
---
{
	ns0#greet: {
		arg0: inboundProperties."http.query.params".name
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Request: #[payload]" level="INFO" category="confidential" doc:name="Logger"/>
        <ws:consumer config-ref="Web_Service_Consumer" operation="greet" doc:name="Web Service Consumer"/>
        <logger message="Response: #[message.payloadAs(java.lang.String)]" level="INFO" category="confidential" doc:name="Logger"/>
    </flow>
    <flow name="wsMock">
        <http:listener config-ref="HTTP_Logger" path="/wsgreet" doc:name="HTTP"/>
        <cxf:jaxws-service configuration-ref="CXF_Configuration" serviceClass="logger2files.IWSMock" doc:name="CXF"/>
        <component class="logger2files.WSMock" doc:name="Java"/>
    </flow>
</mule>
